body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 250px;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e11a38;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
